@import "../../../styles/references/index";

.main-mypayment {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f0f9ff;

    .container {
        max-width: 340px;
        width: 100%;
        height: calc(100% - 80px);
        min-height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        flex-direction: column;
        .share-qr-main {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #d7efff;
            border-radius: 16px;
            width: calc(96% - 12px);
            padding: 20px 12px;
            margin-top: 10px;

            .logo-div {
                width: calc(100% - 10px);
                height: 64px;
                background-color: #0957de;
                border-radius: 12px;
                display: flex;
                padding: 10px;
                justify-content: flex-start;
                align-items: center;
                column-gap: 6px;

                img {
                    width: 40px;
                    height: 40px;
                }
                .title-name {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    row-gap: 4px;
                    .title {
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 700;
                        color: white;
                    }
                    .name {
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: 400;
                        color: white;
                    }
                }
            }

            .qrcode-buttons {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 20px;
                .title-buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    .title {
                        font-size: 15px;
                        line-height: 15px;
                        font-weight: 700;
                        color: #071225;
                    }
                    .desc {
                        font-size: 11px;
                        line-height: 11px;
                        font-weight: 400;
                        color: #57647c;
                    }

                    .buttons {
                        display: flex;
                        flex-direction: row-reverse;
                        column-gap: 2px;
                        .download {
                            width: 50px;
                            height: 44px;
                            border-radius: 12px 0 0 12px;
                            background-color: #929db1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 50%;
                                height: 50%;
                                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(102%)
                                    contrast(101%);
                            }
                        }
                        .copy {
                            width: 50px;
                            height: 44px;
                            border-radius: 0 12px 12px 0;
                            background-color: #929db1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 50%;
                                height: 50%;
                                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(102%)
                                    contrast(101%);
                            }
                        }
                    }
                }

                .qrcode {
                    width: 104px;
                    height: 104px;
                    background-color: #ffffff;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 80%;
                        height: 80%;
                    }
                }
            }

            .line-seperator {
                width: 100%;
                height: 1px;
                background-color: white;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .input-title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                .title {
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: 700;
                    color: #071225;
                }
                .desc {
                    font-size: 11px;
                    line-height: 11px;
                    font-weight: 400;
                    color: #57647c;
                    margin-top: 6px;
                }
                .main-inputs {
                    width: calc(100% - 4px);
                    height: 48px;
                    border-radius: 12px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    column-gap: 6px;
                    padding: 0 2px;
                    margin-top: 20px;
                    .buttons {
                        display: flex;
                        flex-direction: row-reverse;
                        column-gap: 2px;
                        .download {
                            width: 50px;
                            height: 44px;
                            border-radius: 12px 0 0 12px;
                            background-color: #929db1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 50%;
                                height: 50%;
                                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(102%)
                                    contrast(101%);
                            }
                        }
                        .share {
                            width: 50px;
                            height: 44px;
                            border-radius: 0 12px 12px 0;
                            background-color: #929db1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 50%;
                                height: 50%;
                                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(102%)
                                    contrast(101%);
                            }
                        }
                    }
                    .text {
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 400;
                        color: #57647c;
                    }
                }
            }
        }

        .container-transactions {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            .title-link {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .title {
                    font-size: 14px;
                    line-height: 14px;
                    color: #929db1;
                    font-weight: 700;
                }
                .link {
                    font-size: 11px;
                    line-height: 11px;
                    color: #58a5ff;
                    font-weight: 600;
                    text-decoration: none;
                }
            }

            .cards {
                max-width: 340px;
                width: 100%;
                display: flex;
                column-gap: 10px;
                overflow-x: auto;
                margin-bottom: 90px;
                margin-top: 10px;
                padding-bottom: 10px;

                .main-vertical-card {
                    min-width: 196px;
                    height: 160px;
                    border-radius: 12px;
                    background-color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    text-decoration: none;
                    padding: 0 10px;
                    .logo-name-status {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        column-gap: 10px;
                        img {
                            width: 48px;
                            height: 48px;
                        }
                        .name-status {
                            display: flex;
                            flex-direction: column;
                            row-gap: 4px;

                            .name {
                                color: #071225;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 12px;
                            }
                            .kind {
                                display: flex;
                                align-items: center;
                                font-weight: 600;
                                font-size: 9px;
                                line-height: 9px;
                                padding: 4px 2px;
                                border-radius: 30px;
                                justify-content: space-between;
                                column-gap: 4px;
                                img {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                            .payment {
                                color: #0957de;
                                background-color: #f0f9ff;
                                img {
                                    filter: invert(23%) sepia(74%) saturate(7116%) hue-rotate(216deg) brightness(95%)
                                        contrast(93%);
                                }
                            }
                            .charge {
                                color: #18b562;
                                background-color: #eaffef;
                                img {
                                    filter: invert(55%) sepia(50%) saturate(705%) hue-rotate(96deg) brightness(92%)
                                        contrast(90%);
                                }
                            }
                            .fail {
                                color: #e6446d;
                                background-color: #fff1f7;
                                img {
                                    filter: invert(37%) sepia(81%) saturate(2170%) hue-rotate(321deg) brightness(94%)
                                        contrast(90%);
                                }
                            }
                        }
                    }

                    .amount-for {
                        color: #071225;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 10px;
                    }

                    .amount {
                        color: #071225;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 15px;
                    }

                    .date {
                        color: #929db1;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 10px;
                    }
                }

                &::-webkit-scrollbar {
                    @include responsive-size(display, flex, flex, none, none);
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: white;
                    border-radius: 20px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #d7efff;
                    border-radius: 20px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #d7efff;
                }
            }
        }
    }
}
